{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="card text-center">
    <div class="card-header">
        <h4 class="display-4">Hello! What would you like to do?</h4>
    </div>
    <div class="card-body text-center" id="indexBody">
        <a href="/goals"><button type="submit" class="btn btn-dark btn-lg">Set some goals.</button></a>
        <a href="/issue"><button type="submit" class="btn btn-dark btn-lg">Wrap your day up.</button></a>
    </div>
    <div class="card-footer text-muted">
        <a href="/history"><button type="button" class="btn btn-info">View history</button></a>
    </div>
</div>
{% endblock %}
