{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-row">
            <div class="form-group col-md-12">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="E-Mail" type="email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input autocomplete="off" class="form-control" name="firstname" placeholder="Firstname" type="text">
            </div>
            <div class="form-group col-md-6">
                <input autocomplete="off" class="form-control" name="lastname" placeholder="Lastname" type="text">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" name="password1" placeholder="Password" type="password">
            </div>
            <div class="form-group col-md-6">
                <input class="form-control" name="password2" placeholder="Repeat Password" type="password">
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
